* {
  -webkit-tap-highlight-color: transparent;
}



/* Main Dashboard Container */
  .dashboard {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
  }

  /* Icon Styling */
  .icon {
    color: #FFC107;
    width: 24px; 
    height: 24px;
  }
  
  /* Main Content Area */
  .dashboard-main {
    display: flex;
    flex: 1;
  }

  .content-area {
    margin-top: 65px; /* height of header */
    margin-right: 75px; /* width of sidebar (collapsed) */
    padding: 0px 20px 20px 20px;
    min-height: calc(100vh - 60px);
    transition: margin 0.3s ease;
    color: var(--primary-text);
    text-align: justify;
  }
  
  .sidebar.expanded ~ .content-area {
    margin-right: 235px;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  @media (max-width: 895px) {
    .content-area {
      margin-top: 65px; /* height of header */
      margin-right: 0px; /* width of sidebar (collapsed) */
      padding: 0px 20px 20px 20px;
      min-height: calc(100vh - 60px);
      transition: margin 0.3s ease;
    }

  }


  